<a href="https://colab.research.google.com/github/VanessaRivas2000/Progra3/blob/main/Practica2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo", "Bienvendos a Programacion Computacional III, con Python")
print("Mi nombre es: ", "Vanessa Rivas")

Hola Mundo Bienvendos a Programacion Computacional III, con Python
Mi nombre es:  Vanessa Rivas

In [ ]:
nombre = "Vanessa Rivas"
print("Hola ", nombre, type(nombre))
nombre = 21
print("Tu edad es: ", nombre + 2, type(nombre))

Hola  Vanessa Rivas <class 'str'>
Tu edad es:  23 <class 'int'>

In [ ]:
nombre = "Vanessa Rivas"
print("Tu nombre es: ", nombre, "Longuitud de tu nombre: ", len(nombre), "Iniciales: ", nombre[0],nombre[8])

Tu nombre es:  Vanessa Rivas Longuitud de tu nombre:  13 Iniciales:  V R

In [ ]:
num1 = 5
num2 = 4.6
resp = num1 + num2
print("la suma de num1: ", num1, "+ num2:", num2, "es igual a:",resp)

la suma de num1:  5 + num2: 4.6 es igual a: 9.6

In [ ]:
num3 = 15
num4 =7
resp = num3 - num4
print("la resta de num3: ", num3, "- num4:", num4, "es igual a:",resp)

la resta de num3:  15 - num4: 7 es igual a: 8

In [ ]:
num1 = float(input("ingrese un numero entero:"))
num2 = float(input("ingrese otro Num decimal:"))
resp = num1 + num2
print("suma", resp, type(resp))

ingrese un numero entero:20
ingrese otro Num decimal:2
suma 22.0 <class 'float'>

In [ ]:
num3 = float(input("ingrese un numero entero:"))
num4 = float(input("ingrese un numero decimal:"))
resp = num3 * num4
print("multiplicacion", resp, type(resp))

ingrese un numero entero:25
ingrese un numero decimal:2
multiplicacion 50.0 <class 'float'>

In [ ]:
nombre = input("Dime tu nombre:")
print(nombre, type(nombre), len(nombre))

print(nombre[0], nombre[1], nombre[2], nombre[3], nombre[4], nombre[5], nombre[6])

Dime tu nombre:Vanessa
Vanessa <class 'str'> 7
V a n e s s a

In [ ]:
resp = 4 - 4 * 6 /2 + 1
print(resp)

-7.0

In [ ]:
gustaProgramacion = True #False
print("Te gusta programar:", gustaProgramacion)

gustaDiseño = False
print("Te gusta diseñar:", gustaDiseño)

Te gusta programar: True
Te gusta diseñar: False

In [ ]:
def suma(num1, num2):
  return num1 + num2
print("la suma de 5 + 7 =", suma(5,7))

la suma de 5 + 7 = 12

In [ ]:
def suma(num1, num2):
  return num1 + num2
  num1 = float(input("Dime un numero:"))
  num2 = float(input("Dime otro numero"))
  print("La suma es:", suma)(num1, num2)

In [ ]:
c = 27

In [ ]:
def convertirCaF(c):
  return c*9/5 + 32

In [ ]:
print("Celsius a F: ", convertirCaF(c))

Celsius a F:  80.6

In [ ]:
gradosCiudades = [27, 30, 32, 35, 40, 45]

In [ ]:
print(gradosCiudades, "Respuesta: ", list(map(convertirCaF, gradosCiudades)))

[27, 30, 32, 35, 40, 45] Respuesta:  [80.6, 86.0, 89.6, 95.0, 104.0, 113.0]

In [ ]:
c=27
def convertirFaC(c):
  return (c-32)*0.55555

In [ ]:
print("Fahrenheit a C: ", convertirFaC(c))

Fahrenheit a C:  -2.77775

In [ ]:
gradosCiudades = [27, 30, 32, 35, 40, 45]

In [ ]:
print(gradosCiudades, "Respuesta: ", list(map(convertirFaC, gradosCiudades)))

[27, 30, 32, 35, 40, 45] Respuesta:  [-2.77775, -1.1111, 0.0, 1.66665, 4.4444, 7.22215]

In [ ]:
c=80.6
def convertirFaC(c):
  return(c-32)*0.55555

In [ ]:
print("Fahrenheit a C: ", convertirFaC(c))

Fahrenheit a C:  26.999729999999996

In [ ]:
gradosCiudades = [-2.77775, -1.1111, 0.0, 1.66665, 4.4444, 7.22215]

In [ ]:
print(gradosCiudades, "Respuesta: ", list(map(convertirFaC, gradosCiudades)))

[-2.77775, -1.1111, 0.0, 1.66665, 4.4444, 7.22215] Respuesta:  [-19.320779012499997, -18.394871605, -17.7776, -16.8516925925, -15.30851358, -13.7653345675]

In [ ]:
gradosK = [300.0, 303.0, 308.0, 313.0, 218.0]
gradosC = lambda c:(c-273.15)
c = list(map(gradosC, gradosK))

In [ ]:
print(c)

[26.850000000000023, 29.850000000000023, 34.85000000000002, 39.85000000000002, -55.14999999999998]

In [ ]:
gradosF = lambda F:F * 9/5 + 32
grados = float(input("Ingrese un numero"))
print("Grados: ", gradosF(grados))

Ingrese un numero20
Grados:  68.0

In [ ]:
edades = (2,5,12,18,65,100) #La tupla es inmutable, es decir, no podemos cambiar su valor y se declara con parentesis pero se usa corchetes

In [ ]:
print( edades, "La edad de bebe es la mejor: ", edades[0])

(2, 5, 12, 18, 65, 100) La edad de bebe es la mejor:  2

In [ ]:
print("Edades: ", edades, "Responsabilidades: ", tuple(filter(lambda e:e>=18, edades)))

Edades:  (2, 5, 12, 18, 65, 100) Responsabilidades:  (18, 65, 100)

In [ ]:
print("Edades: ", edades, "Al cuadrado: ", tuple(map(lambda n:n**2, edades)))

Edades:  (2, 5, 12, 18, 65, 100) Al cuadrado:  (4, 25, 144, 324, 4225, 10000)

In [ ]:
notas = [6,8,10] # Listas, son mutables, es decir, podemos cambiar sus valores y se declaran y usan con corchetes.
print("Notas originales: ", notas)

Notas originales:  [6, 8, 10]

In [ ]:
notas[0]=9
print("Notas: ", notas)

Notas:  [9, 8, 10]

In [ ]:
notasprogra = [
    [9,8,10],#C1
    [10,6,9], #C2
    [10,9,10], #C3
]
print(notasprogra)

[[9, 8, 10], [10, 6, 9], [10, 9, 10]]

In [ ]:
print("Lab2 de C1", notasprogra[0][1])

Lab2 de C1 8

In [ ]:
notas = [
[ #Progra III
 [9,8,[8,9]], #C1
 [10,6,9], #C2
 [10,9,10], #C3
],
[ #Estadistica
 [5,7,10], #C1
 [9,8,9], #C2
 [10,10,10], #C3
],
[ #BD
 [7,8,9], #C1
 [9,8,7], #C2
 [10,9,10], #C3
],
[ #Ingles
 [8,9,10], #C1
 [9,10,9], #C2
 [10,10,10], #C3
],
[ #Circuito Digital
 [5,8,7], #C1
 [8,7,9], #C2
 [9,10,9], #C3
]
]
import functools
print("Lab1 de Estadistica en C1", notas[1][0][0], "Nota de Parcial C1 de Progra III: ", functools.reduce(lambda a,b: a + b, notas[0][0][2])/2)

Lab1 de Estadistica en C1 5 Nota de Parcial C1 de Progra III:  8.5

In [ ]:
#diccionarios (JSON): Se declaran con llaves pero se usan con corchetes
misNotas = {
    "Programa III":{
        "C1": {
          "Lab1":9,"Lab2":8, "Parcial":{"ParteI":8, "ParteII":9}
        },
        "C2":{
          "Lab1":10,"Lab2":6, "Parcial":9
        },
        "C3":{
          "Lab1":10,"Lab2":6, "Parcial":9
        }
    },"Estadistica":{
        "C1": {
          "Lab1":5,"Lab2":7, "Parcial":10
        },
        "C2":{
          "Lab1":9,"Lab2":8, "Parcial":9
        },
        "C3":{
          "Lab1":10,"Lab2":10, "Parcial":10
        }
    }, "BD":{
        "C1": {
          "Lab1":7,"Lab2":8, "Parcial":9
        },
        "C2":{
          "Lab1":9,"Lab2":8, "Parcial":7
        },
        "C3":{
          "Lab1":10,"Lab2":9, "Parcial":10
        }
    }, "Ingles":{
        "C1": {
          "Lab1":8,"Lab2":9, "Parcial":10
        },
        "C2":{
          "Lab1":9,"Lab2":10, "Parcial":9
        },
        "C3":{
          "Lab1":10,"Lab2":10, "Parcial":10
        }
    }, "Circuitos Digitales":{
        "C1": {
          "Lab1":5,"Lab2":8, "Parcial":7
        },
        "C2":{
          "Lab1":8,"Lab2":7, "Parcial":9
        },
        "C3":{
          "Lab1":9,"Lab2":10, "Parcial":9
        }
    }
}
print("Lab1 en C1 de Estadistica: ", misNotas["Estadistica"]["C1"]["Lab1"])
misNotas["Estadistica"]["C1"]["Lab1"] = float(input("Lab1: "))
print("Lab1 en C1 de Estadistica: ", misNotas["Estadistica"]["C1"]["Lab1"])

Lab1 en C1 de Estadistica:  5
Lab1: 9.5
Lab1 en C1 de Estadistica:  9.5

In [ ]:
edad = int(input("Dime tu edad: "))
if(edad<=2):
  print("Eres un bebe")
elif(edad<12):
  print("Eres un niño")
elif( edad<18 ):
  print("Eres un adolescente")
elif( edad<=55 ):
  print("Eres un adulto joven")
elif(edad<=65):
  print("Eres un Adulto")
elif(edad<=85):
  print("Eres un adulto mayor")
elif(edad<=130):
  print("Larga vidad...")
else:
  print("Edad incorrecto")
print("Termino")

Dime tu edad: 23
Eres un adulto joven
Termino

In [1]:
#hacer un programa que genera la tabla de multiplicar de x numero ingreso por el usuario
nt = int(input("Dime la tabla de multiplicar a generar: "))
i=1
while i<=10:
  print( nt,"X",i,"=", nt*i )
  i+=1

Dime la tabla de multiplicar a generar: 12
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

In [2]:
#hacer un programa que genera la tabla de multiplicar de x numero ingreso por el usuario
nt = int(input("Dime la tabla que deseas generar: "))
for i in range(1,11): #i<11
  print(nt,"X",i,"=", nt*i)

Dime la tabla que deseas generar: 12
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

In [3]:
#hacer un programa que genera la tabla de multiplicar de x numero ingreso por el usuario
s = "s"
while s=="s":
  nt = int(input("Dime una tabla: "))
  for i in range(1, 11):
    print(nt, "X",i,"=", nt*i)
  s = input("Desea continua presione la tecla s, sino cualquier otra")

Dime una tabla: 12
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120
Desea continua presione la tecla s, sino cualquier otras
Dime una tabla: 10
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100
Desea continua presione la tecla s, sino cualquier otras
Dime una tabla: 8
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
Desea continua presione la tecla s, sino cualquier otra

In [4]:
#conversores
etiquetas = [
    0,
    ["Seleccione un moneda", "1. Dolar", "2. Colon SV", "3. Quetzal", "4. Lempira", "5. Cordoba"],
    ["Selecione un almacenamiento", "1. MegaByte", "2. Bit", "3. Byte", "4. KiloByte", "5. GigaByte"]
    ,3,4,5]

valores = [0,
  [0,1, 8.75, 7.73, 24.49, 35.96],
  [0,1, 8388608, 1048576, 1024, 0.0009765625]

In [5]:
def convertir(opcion, de, a, cantidad):
  return valores[opcion][a] / valores[opcion][de] * cantidad

In [7]:
print("** MENU **")
print("1. Monedas")
print("2. Almacenamiento")
opcion = int(input("Opcion: "))

print( etiquetas[opcion] )
de = int(input("DE: "))
a = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( etiquetas[opcion][de], " en ", etiquetas[opcion][a], " equivale a: ", convertir(opcion, de, a, cantidad) )

** MENU **
1. Monedas
2. Almacenamiento
Opcion: 2
['Selecione un almacenamiento', '1. MegaByte', '2. Bit', '3. Byte', '4. KiloByte', '5. GigaByte']
DE: 5
A: 3
Cantidad: 36
5. GigaByte  en  3. Byte  equivale a:  38654705664.0

In [ ]:
  #TAREA:
# * Hacer un algoritmo en python que convierta de grados Celsius a Kelvin y viceversa, usando funciones de usuario y lambda.

# * Hacer un algoritmo en python que encuentre la Nota Final de Ciclo de una Materia en Particular usando funciones de usuario y lambda.

In [ ]:
# * Hacer un algoritmo en python que convierta de grados Celsius a Kelvin y viceversa, usando funciones de usuario y lambda.

# Celsius a Kelvin
c = 29
def ConvertirCaK(c):
  return c + 273.15

In [ ]:
print("Celsius a K: ", ConvertirCaK(c))

Celsius a K:  302.15

In [ ]:
gradosCiudades2 = [29, 58, 36, 39, 50, 44]

In [ ]:
print(gradosCiudades2, "Respuesta: ", list(map(ConvertirCaK, gradosCiudades2)))

[29, 58, 36, 39, 50, 44] Respuesta:  [302.15, 331.15, 309.15, 312.15, 323.15, 317.15]

In [ ]:
print(gradosCiudades2, "Respuesta: ", list(map(lambda c: c + 273.15, gradosCiudades2)))

[29, 58, 36, 39, 50, 44] Respuesta:  [302.15, 331.15, 309.15, 312.15, 323.15, 317.15]

In [ ]:
gradosC = lambda C:C + 273.15
grados = float(input("Ingrese un numero"))
print("Grados: ", gradosC(grados))

Ingrese un numero29
Grados:  302.15

In [ ]:
# Kelvin a Celsius
c = 302.15
def ConvertirKaC(c):
  return c - 273.15

In [ ]:
print("Kelvin a C: ", ConvertirKaC(c))

Kelvin a C:  29.0

In [ ]:
gradosCiudades2 = [302.15, 331.15, 309.15, 312.15, 323.15, 317.15]
print(gradosCiudades2, "Respuesta: ", list(map(ConvertirKaC, gradosCiudades2)))

[302.15, 331.15, 309.15, 312.15, 323.15, 317.15] Respuesta:  [29.0, 58.0, 36.0, 39.0, 50.0, 44.0]

In [ ]:
print(gradosCiudades2, "Respuesta: ", list(map(lambda c: c - 273.15, gradosCiudades2)))

[302.15, 331.15, 309.15, 312.15, 323.15, 317.15] Respuesta:  [29.0, 58.0, 36.0, 39.0, 50.0, 44.0]

In [ ]:
gradosK = lambda K:K - 273.15
grados = float(input("Ingrese un numero"))
print("Grados: ", gradosK(grados))

Ingrese un numero302.15
Grados:  29.0

In [ ]:
# * Hacer un algoritmo en python que encuentre la Nota Final de Ciclo de una Materia en Particular usando funciones de usuario y lambda.

In [ ]:
notasElectronica = [
    [9, 7, 10], #C1
    [10, 8, 9], #C2
    [7, 9, 9], #C3
]
print(notasElectronica)

[[9, 7, 10], [10, 8, 9], [7, 9, 9]]

In [ ]:
# Notas C1
Lab1 = float(input("Ingrese la primer nota"))
Lab2 = float(input("Ingrese la segunda nota"))
parcial = float(input("Ingrese nota Parcial"))
C1 = (Lab1 + Lab2 + parcial)/3
print("Su nota final es: ", C1)

Ingrese la primer nota9
Ingrese la segunda nota7
Ingrese nota Parcial10
Su nota final es:  8.666666666666666

In [ ]:
# Notas C2
Lab1 = float(input("Ingrese la primer nota"))
Lab2 = float(input("Ingrese la segunda nota"))
parcial = float(input("Ingrese nota Parcial"))
C2 = (Lab1 + Lab2 + parcial)/3
print("Su nota final es: ", C2)

Ingrese la primer nota10
Ingrese la segunda nota8
Ingrese nota Parcial9
Su nota final es:  9.0

In [ ]:
11# Notas C3
Lab1 = float(input("Ingrese la primer nota"))
Lab2 = float(input("Ingrese la segunda nota"))
parcial = float(input("Ingrese nota Parcial"))
C3 = (Lab1 + Lab2 + parcial)/3
print("Su nota final es: ", C3)

Ingrese la primer nota7
Ingrese la segunda nota9
Ingrese nota Parcial9
Su nota final es:  8.333333333333334

In [ ]:
PromFinal = (C1+C2+C3)/3

print("Su nota final del Ciclo 1 en Electronica es: ", PromFinal)

Su nota final del Ciclo 1 en Electronica es:  8.666666666666666

In [50]:
# Tarea 2. Semana 4

In [ ]:
# Ejercicio 1: Calcular sobre el sueldo las deducciones por ley ISSS (3%), AFP (6.25%), ISR (segun tabla) e imprima el total de deduccines y sueldo neto. (20%)

In [161]:
sueldo = float(input("Ingrese su sueldo"))
descuentoISSS = float(input("Ingrese descuento ISSS: "))
descuentoAFP = float(input("Ingrese descuento AFP: "))
descuentoISR = float(input("Ingrese descuento ISR: "))
SueldoNeto = (sueldo - descuentoISSS - descuentoAFP - descuentoISR)
print("Su sueldo final es: ", SueldoNeto)

Ingrese su sueldo450
Ingrese descuento ISSS: 32.50
Ingrese descuento AFP: 12.50
Ingrese descuento ISR: 0.00
Su sueldo final es:  405.0

In [111]:
def impuestos(salario):
  return (salario) * 0.03 + (salario) * 0.0625

In [112]:
def calculosalario(salario):
  return (salario) - impuestos(salario)

In [113]:
def impuestos1 (salario):
  return (calculosalario (salario) - 472.00) * 0.10 + 17.67

In [114]:
def impuestos2 (salario):
  return (calculosalario (salario) - 895.24) * 0.20 + 60

In [115]:
def impuestos3 (salario):
  return (calculosalario (salario) - 2038.10) * 0.30 + 288.57

In [124]:
salario = float(input("Ingrese la cantidad de su salario: "))

Ingrese la cantidad de su salario: 630

In [125]:
print("Su salario es de: ", calculosalario(salario))

Su salario es de:  571.725

In [126]:
if salario <= 472 :
  print("Lamentablemente usted no aplica a ISR ")

In [127]:
if salario >= 472.01  and salario <= 895.24: 
   print("Su retencion de impuesto sobre la renta en su salario: ",calculosalario(salario),"es de :",impuestos1(salario))

Su retencion de impuesto sobre la renta en su salario:  571.725 es de : 27.642500000000005

In [120]:
if salario >= 895.25 and salario <= 2038.10:
  print("Su retención de impuesto sobre la renta en su salario de: ", calculosalario(salario), "es de: ", impuestos2(salario))

In [121]:
if salario >= 2038.10:
  print("Su retención de impuesto sobre la renta en su salario de: ", calculosalario(salario), "es de: ", impuestos3(salario))

In [122]:
# Ejercicio 2: Calcular el  valor a pagar segun el numero de metros consumidos de agua potable

In [123]:
# Ejercicio 3: Desarrolle la tabla de meses acumulados a n meses. Si puede encontrar la formula matematica para evitar ciclos (10%).

In [128]:
print("Ingrese cantidad que desea imprimir para lo acumulado")
a = int(input())
b = 0

Ingrese cantidad que desea imprimir para lo acumulado
10

In [129]:
for i in range(1, a + 1):
  print(i)
  b = b + 1
  print("La lista de valores acumulados que solicita es: ", b)

1
La lista de valores acumulados que solicita es:  1
2
La lista de valores acumulados que solicita es:  2
3
La lista de valores acumulados que solicita es:  3
4
La lista de valores acumulados que solicita es:  4
5
La lista de valores acumulados que solicita es:  5
6
La lista de valores acumulados que solicita es:  6
7
La lista de valores acumulados que solicita es:  7
8
La lista de valores acumulados que solicita es:  8
9
La lista de valores acumulados que solicita es:  9
10
La lista de valores acumulados que solicita es:  10

In [ ]:
# Ejercicio 4: Conversores: (40%) (10 ítems como mínimo por cada uno) • Monedas (Resuelto en clases) • Longitud • Masa • Almacenamiento • Tiempo • Volumen • Área

In [ ]:
# Monedas

In [144]:
divisas = ["Seleccione una divisa", "Dolares", 
           "Quetzalez", "Lempiras", "Cordobas", 
           "Pesos CR", "Euros", "Colon SV", 
           "Yenes", "Soles Peruanos"
]
valores = [0,1, 7.71, 24.51, 35.77, 664.64, 0.98, 8.75, 134.13, 3.84]

In [131]:
def convertir(de, a, cantidad):
  return valores [a] / valores [de] * cantidad

In [132]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1. Dolares")
print("2. Quetzalez")
print("3. Lempiras")
print("4. Cordobas")
print("5. Pesos CR")
print("6. Euros")
print("7. Colon SV")
print("8. Yenes")
print("9. Soles Peruanos")

*** MENU ***
SELECCIONE UNA DIVISA
1. Dolares
2. Quetzalez
3. Lempiras
4. Cordobas
5. Pesos CR
6. Euros
7. Colon SV
8. Yenes
9. Soles Peruanos

In [133]:
de = int(input("DE: "))
a = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( divisas[de],  " a ", divisas[a], " es: ", convertir(de, a, cantidad) )

DE: 3
A: 8
Cantidad: 25
Lempiras  a  Yenes  es:  136.81150550795593

In [ ]:
# Longitud

In [134]:
divisas = ["Seleccione una divisa", "metro", 
           "kilometro", "centimetros", "milimetro", 
           "yarda", "pie", "pulgadas", 
           "milla", "Milla nautica", 'nanometro',
]
valores = [0,1, 0.001, 100, 1000, 1.09361, 3.28084, 39.3701, 0.000621371,0.000539957,1e+9 ]

In [135]:
def convertir(de, a, cantidad):
  return valores [de] / valores [a] * cantidad

In [136]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1. metro")
print("2. Kilometro")
print("3. centimetros")
print("4. Milimetro")
print("5. Yarda")
print("6. Pie")
print("7. pulgada")
print("8. Milla")
print("9. Milla nautica")
print("10. Nanometro")

*** MENU ***
SELECCIONE UNA DIVISA
1. metro
2. Kilometro
3. centimetros
4. Milimetro
5. Yarda
6. Pie
7. pulgada
8. Milla
9. Milla nautica
10. Nanometro

In [137]:
a = int(input("DE: "))
de = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( divisas[a],  " a ", divisas[de], " es: ", convertir(de, a, cantidad) )

DE: 5
A: 1
Cantidad: 10
yarda  a  metro  es:  9.144027578387178

In [ ]:
# Masa

In [143]:
divisas = ["Seleccione una divisa", "Tonelada", 
           "Kilogramo", "Gramo", "Miligramo", 
           "Microgramo", "Tonelada larga", "Tonela corta", 
           "Stone", "Libra", 'Onza',

]
valores = [0,1, 1000, 1e+6, 1e+9, 1e+12, 0.984207, 1.10231, 157.473, 2204.62, 35274 ]

In [139]:
def convertir(de, a, cantidad):
  return valores [de] / valores [a] * cantidad

In [140]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1. Tonelada")
print("2. Kilogramo")
print("3. Gramo")
print("4. Miligramo")
print("5. Micrograma")
print("6. Tonelada larga")
print("7. Tonelada corta")
print("8. Stone")
print("9. Libra")
print("10. Onza")

*** MENU ***
SELECCIONE UNA DIVISA
1. Tonelada
2. Kilogramo
3. Gramo
4. Miligramo
5. Micrograma
6. Tonelada larga
7. Tonelada corta
8. Stone
9. Libra
10. Onza

In [141]:
a = int(input("DE: "))
de = int(input("A: "))
cantidad = float(input("Cantidad: "))
print( divisas[a],  " a ", divisas[de], " es: ", convertir(de, a, cantidad) )

DE: 8
A: 3
Cantidad: 25
Stone  a  Gramo  es:  158757.3742800353

In [ ]:
# Almacenamiento

In [142]:
divisas = ["Seleccione una divisa", " Terabit", 
           "Mebibit", "Gibibit", "Gigabit", 
           "tebibit", "Petabyte", "Mebibyte", 
           "Megabyte", "Gigabyte", 'Terabyte',
]
valores = [0,1, 953700, 931.3, 1000, 1.1, 8000, 119200, 125000,125,0.125 ]

In [145]:
def convertir(de, a, cantidad):
  return valores [de] / valores [a] * cantidad

In [146]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1. Terabit")
print("2. Mebibit")
print("3. Gibibit")
print("4. Gigabit")
print("5. Tebibit")
print("6. Petabyte")
print("7. Mebibyte")
print("8. Megabyte")
print("9. Gygabyte")
print("10.Terabyte")

*** MENU ***
SELECCIONE UNA DIVISA
1. Terabit
2. Mebibit
3. Gibibit
4. Gigabit
5. Tebibit
6. Petabyte
7. Mebibyte
8. Megabyte
9. Gygabyte
10.Terabyte

In [147]:
a = int(input("DE: "))
de = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( divisas[a],  " a ", divisas[de], " es: ", convertir(de, a, cantidad) )

DE: 4
A: 1
Cantidad: 20
Cordobas  a  Dolares  es:  0.5591277606933184

In [ ]:
# Tiempo

In [148]:
divisas = ["Seleccione una divisa", " Segundo", 
           "Milisegundo", "Minuto", "Hora", 
           "Dia", "Semana", "Mes", 
           "Año", "Decada", 'Siglo',
]
valores = [0,1, 1000, 0.0166667, 0.000277778,1.1574e-5, 1.6534e-6, 3.8052e-7, 3.171e-8,3.171e-9,3.171e-10 ]

In [149]:
def convertir(de, a, cantidad):
  return valores [de] / valores [a] * cantidad

In [150]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1. Segundo")
print("2. Milesegundo")
print("3. Minuto")
print("4. Hora")
print("5. Dia")
print("6. Semana")
print("7. Mes")
print("8. Año")
print("9. Decada")
print("10.Siglo")

*** MENU ***
SELECCIONE UNA DIVISA
1. Segundo
2. Milesegundo
3. Minuto
4. Hora
5. Dia
6. Semana
7. Mes
8. Año
9. Decada
10.Siglo

In [151]:
a = int(input("DE: "))
de = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( divisas[a],  " a ", divisas[de], " es: ", convertir(de, a, cantidad) )

DE: 4
A: 6
Cantidad: 3500
Hora  a  Semana  es:  20.83282333374133

In [ ]:
# Volumen

In [153]:
divisas = ["Seleccione una divisa", "Litro", 
           "Mililitro", "Galón", "Cuarto", 
           "Pinta", "Taza", "Onza líquida", 
           "Cucharada", "Cucharadita", 'Pie cúbico',
]
valores = [0,1, 1000, 0.219969, 0.879877, 1.75975, 3.51951, 35.1951, 56.3121, 168.936, 0.0353147 ]

In [154]:
def convertir(de, a, cantidad):
  return valores [de] / valores [a] * cantidad

In [155]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1. Litro")
print("2. Mililitro")
print("3. Galón")
print("4. Cuarto")
print("5. Pinta")
print("6. Taza")
print("7. Onza liquida")
print("8. Cucharada")
print("9. Cucharadita")
print("10. Pie cúbico")

*** MENU ***
SELECCIONE UNA DIVISA
1. Litro
2. Mililitro
3. Galón
4. Cuarto
5. Pinta
6. Taza
7. Onza liquida
8. Cucharada
9. Cucharadita
10. Pie cúbico

In [156]:
a = int(input("DE: "))
de = int(input("A: "))
cantidad = float(input("Cantidad: "))
print( divisas[a],  " a ", divisas[de], " es: ", convertir(de, a, cantidad) )

DE: 3
A: 7
Cantidad: 30
Galón  a  Onza líquida  es:  4800.008182971236

In [ ]:
# Area

In [157]:
divisas = ["Seleccione una divisa", "Hectarea", 
           "Kilometro cuadrado", "Metro Cuadrado", "Milla cuadrada", 
           "Yarda cuadrada", "Pie cuadrado", "Pulgada cuadrada", 
           "Acre",
]
valores = [0,1, 0.01, 10000, 0.00386102, 11959.9, 107639, 1.55e+7, 2.47105 ]

In [158]:
def convertir(de, a, cantidad):
  return valores [de] / valores [a] * cantidad

In [159]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1. Hectarea")
print("2. Kilometro cuadrado")
print("3. Metro cuadrado")
print("4. Milla cuadrada")
print("5. Yarda cuadrada")
print("6. Pie cuadrado")
print("7. Pulgada cuadrada")
print("8. Acre")

*** MENU ***
SELECCIONE UNA DIVISA
1. Hectarea
2. Kilometro cuadrado
3. Metro cuadrado
4. Milla cuadrada
5. Yarda cuadrada
6. Pie cuadrado
7. Pulgada cuadrada
8. Acre

In [160]:
a = int(input("DE: "))
de = int(input("A: "))
cantidad = float(input("Cantidad: "))
print( divisas[a],  " a ", divisas[de], " es: ", convertir(de, a, cantidad) )

DE: 2
A: 3
Cantidad: 15
Kilometro cuadrado  a  Metro Cuadrado  es:  15000000.0